<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.apartment.mapper.LeaseTermMapper">
    
    <resultMap type="LeaseTerm" id="LeaseTermResult">
        <result property="id"    column="id"    />
        <result property="monthCount"    column="month_count"    />
        <result property="unit"    column="unit"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectLeaseTermVo">
        select id, month_count, unit, create_time, update_time, is_deleted from lease_term
    </sql>

    <select id="selectLeaseTermList" parameterType="LeaseTerm" resultMap="LeaseTermResult">
        <include refid="selectLeaseTermVo"/>
        <where>  
            <if test="monthCount != null "> and month_count = #{monthCount}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
        </where>
    </select>
    
    <select id="selectLeaseTermById" parameterType="Long" resultMap="LeaseTermResult">
        <include refid="selectLeaseTermVo"/>
        where id = #{id}
    </select>

    <insert id="insertLeaseTerm" parameterType="LeaseTerm" useGeneratedKeys="true" keyProperty="id">
        insert into lease_term
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="monthCount != null">month_count,</if>
            <if test="unit != null">unit,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="monthCount != null">#{monthCount},</if>
            <if test="unit != null">#{unit},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateLeaseTerm" parameterType="LeaseTerm">
        update lease_term
        <trim prefix="SET" suffixOverrides=",">
            <if test="monthCount != null">month_count = #{monthCount},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLeaseTermById" parameterType="Long">
        delete from lease_term where id = #{id}
    </delete>

    <delete id="deleteLeaseTermByIds" parameterType="String">
        delete from lease_term where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>